<div class="flex flex-col">
  <label for="user-filter" class="mb-1 text-sm font-medium text-gray-700">Usuario</label>
  <select
    id="user-filter"
    [ngModel]="selectedUser"
    (ngModelChange)="updateSelectedUser($event)"
    class="w-full sm:w-40 bg-white text-sm rounded-lg px-3 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-800"
  >
    <option value="">Todos</option>
    @for(user of users; track $index) {
      <option [value]="user">
        {{ user }}
      </option>
    }
  </select>
</div>
